.container {
	display: flex;
	align-items: center;

	height: 100px;

	background-color: var(--neutral-100);
}

.wrapper {
	position: relative;

	display: flex;
	justify-content: space-between;

	width: 100%;
	max-width: 1024px;
	margin: auto;
	padding: 0 12px;
}

.controls {
	display: flex;
	column-gap: 10px;
}