.modalWrapper {
	position: absolute;
	z-index: 5;

	width: 100vw;
	height: 100vh;
}

.modal {
	position: fixed;
	z-index: 5;
	
	display: flex;
}

.form {
	display: flex;
	flex-direction: column;
	
	width: 300px;
	padding: 12px;
	
	color: var(--dark-200);
	background-color: var(--light-100);
	filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.25));
	
	& > *:not(:last-child) {
		margin-bottom: 10px;
	}
	
	& > *:first-child {
		margin-bottom: 0;
	}
	
	&:before {
		position: absolute;
		
		display: block;
		
		width: 11px;
		height: 22px;
		
		content: '';
		
		background: url("data:image/svg+xml,%3Csvg width='11' height='22' viewBox='0 0 11 22' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 11L10.1613 0.607697L10.1613 21.3923L0 11Z'/%3E%3C/svg%3E") no-repeat;
		filter: drop-shadow(-6px 0px 4px rgba(0, 0, 0, 0.05));
	}
	
	&.top:before {
		top: 10%;
	}
	
	&.bottom:before {
		top: calc(90% - 22px);
	}
	
	&.left:before {
		left: -10px;
	}
	
	&.right:before {
		left: calc(100% - 1px);
		
		transform: rotate(180deg);
	}
	
	> .inputs {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		
	}
}

.description {
	width: 100%;
	height: 125px;
	margin-top: 8px;
	padding: 6px 12px;
	
	resize: none;
	
	border: 1px solid var(--neutral-200);
	border-radius: 4px;
	box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.25);
	
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 1.6rem;
	
	&:focus {
		border: 1px solid var(--blue-200);
		outline: none;
	}
}

.buttons {
	display: flex;
	column-gap: 20px;
}

.title {
	font-size: 1.8rem;
	line-height: 2.1rem;
}

.date {
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 1.6rem;
}

.members {
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 1.6rem;
	
	&:before {
		display: block;
		
		content: 'Участники:';
		
		color: var(--dark-100);
	}
}

.visuallyHidden {
	position: absolute;

	clip: rect(0 0 0 0);

	width: 1px;
	height: 1px;
	margin: -1px;
}